<div class="container mt-5">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <h2>Modifier la date et l'heure d'un tournoi</h2>
      <label for="nom_tournoi">Nom du tournoi</label>
      <input type="text" class="form-control" id="nom_tournoi" name="nom_tournoi" placeholder="Le Nom du tournoi à modifier" [(ngModel)]="tournoiData.nom_tournoi">
    </div>
    <div class="form-group">
      <label for="date_tournoi">Nouvelle date du tournoi</label>
      <input type="date" class="form-control" id="date_tournoi" name="date_tournoi" [(ngModel)]="tournoiData.date_tournoi">
    </div>
    <div class="form-group">
      <label for="heure_debut_tournoi">Nouvelle heure de début du tournoi</label>
      <input type="time" class="form-control" id="heure_debut_tournoi" name="heure_debut_tournoi" [(ngModel)]="tournoiData.heure_debut_tournoi">
    </div>
    <button type="submit" class="btn btn-primary">Mettre à jour les horaires du tournoi</button>
  </form>
  <div *ngIf="messageFromServer">
    <p>{{ messageFromServer }}</p>
  </div>
</div>
<br>
<a routerLink="/projet-s4" class="btn btn-primary btn-lg">
  <i class="fas fa-arrow-left mr-2"></i> Retour
</a>
