<div class="container mt-5">
  <form (ngSubmit)="onSubmit()">
    <div class="form-row">
      <h2>Ajouter un Joueur</h2>
      <div class="form-group col-md-6">
        <label for="nom">Nom</label>
        <input type="text" class="form-control" id="nom" name="nom" placeholder="Votre nom" [(ngModel)]="joueurData.nom">
      </div>
      <div class="form-group col-md-6">
        <label for="prenom">Prénom</label>
        <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Votre prénom" [(ngModel)]="joueurData.prenom">
      </div>
    </div>
    <div class="form-group">
      <label for="dateNaissance">Date de Naissance</label>
      <input type="date" class="form-control" id="dateNaissance" name="dateNaissance" [(ngModel)]="joueurData.date_naissance">
    </div>
    <div class="form-group">
      <label for="sexe">Sexe</label>
      <select class="form-control" id="sexe" name="sexe" [(ngModel)]="joueurData.sexe">
        <option value="homme">Homme</option>
        <option value="femme">Femme</option>
        <option value="autre">Autre</option>
      </select>
    </div>
    <div class="form-group">
      <label for="pseudo">Pseudo</label>
      <input type="text" class="form-control" id="pseudo" name="pseudo" placeholder="Votre pseudo" [(ngModel)]="joueurData.pseudo">
    </div>
    <button type="submit" class="btn btn-primary">Soumettre</button>
  </form>
  <div *ngIf="messageFromServer">
    <p>{{ messageFromServer }}</p>
  </div>
</div>

<div class="container mt-5">
  <div>
    <h2>Envoyer une liste de Joueurs via fichier CSV</h2>
    <form (ngSubmit)="onFileSubmit()" #csvForm="ngForm">
      <div class="form-group">
        <label for="fichierCSV">Sélectionner un fichier CSV</label>
        <input type="file" class="form-control-file" id="fichierCSV" name="fichierCSV" (change)="onFileSelected($event)" required>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!csvForm.valid">soumettre</button>
      <div *ngIf="messageFromServer2">
        <p>{{ messageFromServer2 }}</p>
      </div>
    </form>
  </div>
</div>
