<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/projet-s4">Projet S4</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="btn-group-vertical">
      <a class="btn btn-success" routerLink="/home-tournament">Tournoi</a>
      <a class="btn btn-success" routerLink="/home-player">Joueur</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
