table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #f7d7eb;
}

th, td {
  padding: 10px;
  border: 1px solid #8e3a5f;
}

th {
  color: #8e3a5f;
  font-weight: bold;
}


tbody tr:nth-child(even) {
  background-color: #f7d7eb;
}

tbody tr:nth-child(odd) {
  background-color: #fff;
}


.btn-lg {
  margin-top: 20px;
}

.btn-lg i {
  color: #fff;
  margin-right: 5px;
}

.btn-lg:hover {
  background-color: #8e3a5f;
  border-color: #8e3a5f;
}
