
th, td {
  padding: 10px;
  border: 1px solid #8e3a5f;
}

th {
  color: #8e3a5f;
  font-weight: bold;
}

tbody tr:last-child td {
  border-bottom: 1px solid #8e3a5f;
}

.btn-primary {
  background-color: #8e3a5f;
  border-color: #8e3a5f;
}

.tournament-actions .btn-primary:hover {
  background-color: #6c2743;
  border-color: #6c2743;
}
