.matches-container {
  background-color: #f7d7eb;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.matches-table th {
  color: #8e3a5f;
}

.matches-table td {
  border-top: 1px solid #8e3a5f;
}

.matches-table tbody tr:last-child td {
  border-bottom: 1px solid #8e3a5f;
}

.no-matches {
  margin-top: 20px;
  color: #8e3a5f;
}
