<div class="container mt-5" *ngIf="data && data.length > 0">
  <h2>Matches Du Tournoi</h2>
  <table class="table">
    <thead>
    <tr>
      <th>JoueurA</th>
      <th>JoueurB</th>
      <th>Table</th>
      <th>Horaire</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let match of data">
      <td>{{ match[0] }}</td>
      <td>{{ match[1] }}</td>
      <td>{{ match[2] }}</td>
      <td>{{ match[3] }}</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="container mt-5" *ngIf="!data || data.length === 0">
  <p>Aucun match trouvé.</p>
</div>
